*{
  margin: 0;
  padding: 0;  
  font-family: Century 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /*box-sizing: border-box; no estoy muy seguro de su uso*/
}

body{
  background-color: powderblue;
  
}
 
.contenedor {
  width: 90%;
  min-width: 500px;
  box-sizing: border-box;
  background: #444;
  margin: 20px;
  /*Flex*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
}

header {
  width: 100%;
  box-sizing: border-box;
  background: #2980B9;
 /* position: fixed; ME DESCONFIGURABA EL TAMAÑO DEL BODY*/
  padding: 0;
  align-items: center;
  justify-content: space-between;
   /*Flex*/
   display: flex;
   flex-flow: row wrap;

   /*Esto es equivalente a flex flow pero en dos instrucciones
   flex-direction: row;
   flex-wrap: wrap;
  */
}

.menu{
  display: flex;
  align-content: center; 
  padding: auto;
  
}
.menu li{
  width: 80%;
  padding: 5px;
  box-sizing: border-box;
  list-style: none;
  
}

.menu li a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  color:white;
  
  
}

footer{
  padding: 0px;
  margin-top: 100px;
  height: 100px;  
  box-sizing: border-box;
  width: 100%;
  background-color: aqua;
}
.contenedor_pie{
  display: flex;
  width: 100%;
  
}
footer p{
text-align: center;
align-content: center;

}

.menu li a:hover{
  color:#444;
}

.logo{
  width: 40%;
  margin: 0;
  padding: 2px; 
}

.logo img{
  padding: 5px;
  box-sizing: border-box;
  width: 40%;
  
}